@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right d-inline-block" }))
    {
        @Html.AntiForgeryToken()
    <div class="dropdown d-inline">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.GetUserName().Substring(0, User.Identity.GetUserName().IndexOf('@'))
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @{
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("UserProfile", "Index", "Manage", new { id = User.Identity.GetUserId() }, new { title = "Manage", @class = "dropdown-item" })
                }
                else if(User.IsInRole("User"))
                {
                    @Html.ActionLink("UserProfile", "UserProfile", "User", new { id = User.Identity.GetUserId() }, new { title = "Manage", @class = "dropdown-item" })
                }
            }
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        </div>
    </div>
    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "genric-btn default radius px-3" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "genric-btn default radius px-3" })</li>
}
