@model Medic.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Change Password";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row pl-2 pt-2 pb-2">
                        <ion-icon name="person-circle-outline" class="userIcon"></ion-icon>
                        <div class="col">
                            <h4>
                                @User.Identity.GetUserName().Substring(0, User.Identity.GetUserName().IndexOf('@'))
                            </h4>
                            Personal settings
                        </div>
                    </div>
                </li>
                @{
                    if (!User.IsInRole("Admin"))
                    {
                        <li class="list-group-item">
                            @{
                                if (User.IsInRole("User"))
                                {
                                    @Html.ActionLink("Profile", "UserProfile", "User", new { id = User.Identity.GetUserId() }, new { @class = "anc-link" })
                                }
                                else if (User.IsInRole("Doctor"))
                                {
                                    @Html.ActionLink("Profile", "UserProfile", "Doctor", new { id = User.Identity.GetUserId() }, new { @class = "anc-link" })
                                }
                            }

                        </li>
                    }
                }
                <li class="list-group-item">
                    @Html.ActionLink("Security", "ChangePassword", "Manage", null, new { @class = "anc-link active" })
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <h2>@ViewBag.Title.</h2>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Change Password Form</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change password" class="genric-btn success radius px-3" />
                            </div>
                        </div>
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            </div>
        </div>
    </div>
</div>